Repository SPAAM-community/AncientMetagenomeDir, pull requests merged in 2022-04, with the labels that each got.

#839 Add Armbrecht 2020
  ancientmetagenome-environmental/libraries/ancientmetagenome-environmental_libraries.tsv
Labels: Ready for Review

#840 Willman2018 libs
  ancientmetagenome-hostassociated/libraries/ancientmetagenome-hostassociated_libraries.tsv
Labels: metagenome-hostassociated

#851 Update ancientsinglegenome-hostassociated_libraries_Giffin2020.tsv
  ancientsinglegenome-hostassociated/libraries/ancientsinglegenome-hostassociated_libraries.tsv
Labels: Ready for Review

#855 Add Pedersen2016-libs
  ancientmetagenome-environmental/libraries/ancientmetagenome-environmental_libraries.tsv
Labels: environmental, sediment, Ready for Review

#845 Add Smith-2015-libs
  ancientmetagenome-environmental/libraries/ancientmetagenome-environmental_libraries.tsv
Labels: environmental, sediment, Ready for Review

#865 Update Velsko publication to 2019
  CHANGELOG.md
  ancientmetagenome-hostassociated/samples/ancientmetagenome-hostassociated_samples.tsv
Labels: metagenome-hostassociated, samples

#848 Velsko2019 libs
  ancientmetagenome-hostassociated/libraries/ancientmetagenome-hostassociated_libraries.tsv
Labels: metagenome-hostassociated, Ready for Review

#872 Add Wu2021-libs
  ancientsinglegenome-hostassociated/libraries/ancientsinglegenome-hostassociated_libraries.tsv
Labels: singlegenome-hostassociated, Ready for Review

#875 SeguinOrlando2021-libs
  ancientsinglegenome-hostassociated/libraries/ancientsinglegenome-hostassociated_libraries.tsv
Labels: Ready for Review, libraries

#806 Adding Muhlemann2018-libs
  CHANGELOG.md
  ancientsinglegenome-hostassociated/libraries/ancientsinglegenome-hostassociated_libraries.tsv
  ancientsinglegenome-hostassociated/samples/ancientsinglegenome-hostassociated_samples.tsv
  assets/documentation/libraries/README.md
Labels: problematic

#857 Add Graham2016&Wang2017-libs
  ancientmetagenome-environmental/libraries/ancientmetagenome-environmental_libraries.tsv
Labels: environmental, sediment, Ready for Review

#859 Bar gal2012 lib
  ancientsinglegenome-hostassociated/libraries/ancientsinglegenome-hostassociated_libraries.tsv
Labels: problematic, Ready for Review

#867 Mendum2014 libs
  ancientsinglegenome-hostassociated/libraries/ancientsinglegenome-hostassociated_libraries.tsv
Labels: Ready for Review

#668 start adding info for Taubenberger 2005
  ancientsinglegenome-hostassociated/libraries/ancientsinglegenome-hostassociated_libraries.tsv
Labels: problematic

#862 Added libs for Schuenemann et al 2018
  .gitignore
  ancientsinglegenome-hostassociated/libraries/ancientsinglegenome-hostassociated_libraries.tsv
Labels: Ready for Review

#690 Lugli2017 libs
  ancientsinglegenome-hostassociated/libraries/ancientsinglegenome-hostassociated_libraries.tsv
Labels: problematic

#868 Added Schuenemann 2011 libs into its very own branch
  CHANGELOG.md
  ancientsinglegenome-hostassociated/libraries/ancientsinglegenome-hostassociated_libraries.tsv
  ancientsinglegenome-hostassociated/samples/ancientsinglegenome-hostassociated_samples.tsv
Labels: problematic, Ready for Review

#874 Add  Schuenemann2018b-libs
  ancientsinglegenome-hostassociated/libraries/ancientsinglegenome-hostassociated_libraries.tsv
Labels: singlegenome-hostassociated
